@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');


:root {
    --fontSyne: "Syne", sans-serif;
    --colorBlack: #222;
    --colorRed: #fd3b3b;
    --colorWhite: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 1340px;
    margin: auto;
    padding-top: 40px;
}

.container {
    max-width: 1440px;
    margin: auto;
    position: relative;
}

.hader_logo {
    width: 100%;
    max-width: 147px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hader_logo>img {
    width: 100%;
}

.header_nav {
    width: 100%;
    max-width: 369px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav>a {
    text-decoration: none;
    font-family: var(--fontSyne);
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: var(--colorBlack);
    transition: all 0.4s;
}

.header_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 206px;
}

.header_btn>a {
    font-family: var(--fontSyne);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--colorRed);
    text-decoration: none;
    position: relative;
    transition: all 0.4s;
}

.header_btn>a:hover {
    color: var(--colorBlack);
}

.header_nav>a:hover {
    color: var(--colorRed);
}

.header_btn>a::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: -16px;
    background-color: var(--colorBlack);
    opacity: 0.5;
}

.header_btn>button {
    width: 100%;
    max-width: 120px;
    border-radius: 32px;
    background-color: var(--colorRed);
    font-family: var(--fontSyne);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: var(--colorWhite);
    padding: 10.5px 26px;
    border: 2px solid var(--colorRed);
    cursor: pointer;
    transition: all 0.4s;
}

.header_btn>button:hover {
    background-color: var(--colorWhite);
    color: var(--colorRed);
}


.container_heroSection {
    position: relative;
}

.section_hero {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    position: relative;
}

.section_hero_image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.section_hero_image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_hero_left {
    width: 100%;
    max-width: 414px;
}

.section_hero_left>h1 {
    font-size: 56px;
    font-family: var(--fontSyne);
    font-weight: 700;
    line-height: 67.2px;
    color: var(--colorBlack);
}

.section_hero_left>p {
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.6;
    margin-top: 56px;
    max-width: 320px;
}

.section_hero_left>button {
    width: 100%;
    max-width: 156px;
    border-radius: 32px;
    padding: 10.5px 26px;
    color: var(--colorWhite);
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
    font-family: var(--fontSyne);
    margin-top: 56px;
    background-color: var(--colorRed);
    border: 1px solid var(--colorRed);
    cursor: pointer;
    transition: all 0.4s;
}

.section_hero_left>button:hover {
    background-color: var(--colorWhite);
    color: var(--colorRed);
}

.section_hero_left_social {
    width: 100%;
    max-width: 106px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
    gap: 16px;
}

.section_hero_left_social>span {
    width: 14px;
    height: 14px;
}

.section_hero_right {
    width: 100%;
    max-width: 204px;
}

.section_hero_right_img {
    display: flex;

}

.section_hero_right_img_item {
    width: 60px;
    height: 60px;
}

.section_hero_right_img_item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    border-radius: 50%;
}

.section_hero_right_img_item:nth-of-type(2) {
    transform: translateX(-12px);

}

.section_hero_right_img_item:nth-of-type(3) {
    transform: translateX(-24px);
}

.section_hero_right>h3 {
    margin-top: 32px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    color: var(--colorBlack);
    font-family: var(--fontSyne);
}

.section_hero_right>p {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16.8px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.6;
}

.section_hero_right_category {
    margin-top: 210px;
    display: flex;
    row-gap: 12px;
    column-gap: 8px;
    width: 100%;
    max-width: 204px;
    flex-wrap: wrap;
}

.section_hero_right_category>button {
    padding: 10.5px 24px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 600;
    font-family: var(--fontSyne);
    color: var(--colorWhite);
    border-radius: 32px;
    border: 1px solid var(--colorRed);
    background-color: transparent;
    color: var(--colorRed);

}

.section_hero_center {
    width: 100%;
    max-width: 142px;
    height: 158px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 12%;
    left: 63%;
    padding: 30px;
    border-radius: 20px;
    background-image: linear-gradient
    (rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.2));
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.section_hero_center>h1 {
    font-size: 48px;
    font-family: var(--fontSyne);
    font-weight: 500;
    line-height: 57.6px;
    color: var(--colorBlack);
}

.section_hero_center>p {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: var(--colorBlack);
    opacity: 0.6;
    text-align: center;
}

.section_hero_right>a {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    color: var(--colorBlack);
    font-family: var(--fontSyne);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    text-decoration: none;
    width: 100%;
    max-width: 150px;
}


.section_partner {
    width: 100%;
    max-width: 1340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 25px;
    margin: auto;
    margin-top: 77px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.2));
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.section_carCollection {
    width: 100%;
    max-width: 968px;
    margin: auto;
    margin-top: 100px;
}

.section_carCollection>span {
    font-family: var(--fontSyne);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--colorBlack);
    text-align: center;
    display: block;
}

.section_carCollection >h1 {
    margin-top: 16px;
    font-size: 56px;
    line-height: 67.2px;
    color: var(--colorBlack);
    font-family: var(--fontSyne);
    text-align: center;
    font-weight: 700;
}

.section_carCollection_row {
    margin-top: 100px;
    display: grid;
    row-gap: 48px;
    column-gap: 64px;
    grid-template-columns: repeat(3, 1fr);
    
}

.section_carCollection_row_col {
    width: 100%;
    max-width: 280px;
    padding: 12px 12px 24px;
    border-radius: 10px;
    background-color: rgba(34, 34, 34, 0.03);
}

.section_carCollection_row_col_img {
    width: 100%;
    height: 204px;
    background-color: #fff;
}

.section_carCollection_row_col_img>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section_carCollection_row_col_text {
    width: 100%;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 32px;
}

.section_carCollection_row_col_text>h2 {
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
}

.section_carCollection_row_col_option {
    margin-top: 23px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.section_carCollection_row_col_title>p {
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.5;
}

.section_carCollection_row_col_title>h3 {
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    margin-top: 5px;
}

.section_carCollection_row_col_option>button {
    width: 100%;
    max-width: 95px;
    color: var(--colorWhite);
    background-color: var(--colorRed);
    border: 1px solid var(--colorRed);
    border-radius: 32px;
    padding: 10.5px 26px;
    font-size: 16px;
    line-height: 19.2px;
    font-family: var(--fontSyne);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s;
}

.section_carCollection_row_col_option>button:hover {
    background-color: transparent;
    color: var(--colorRed);
}

.section_carCollection_pagination {
    margin: auto;
    margin-top: 100px;
    width: 100%;
    max-width: 247px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 21.5px;
}

.section_carCollection_pagination_item {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: rgba(34, 34, 34, 0.6);
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s;
}

.section_carCollection_pagination_item:first-of-type {
    color: var(--colorRed);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    border-color: var(--colorRed);
}

.section_carCollection_pagination_item:hover {
    color: var(--colorRed);
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.section_third {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 12px;

}

.section_third_text {
    width: 100%;
    max-width: 416px;
    padding-top: 39px;

}

.section_third_text>h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);


}

.section_third_text>p {
    margin-top: 123px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--colorBlack);
    font-family: var(--fontSyne);

}

.section_third_image {
    width: 100%;
    max-width: 912px;
    position: relative;


}

.section_third_image>img {
    width: 100%;
    height: 100%;
}


.section_third_image_box {
    width: 100%;
    height: 525px;

}

.section_third_img_box>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section_third_image_item {
    position: absolute;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    background-image: linear-gradient(rgba(255, 255, 255, 0.6) rgba(255, 255, 255, 0.2));
    padding: 20px;
    max-width: 180px;

}

.section_third_image_item>h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    text-align: center;
}

.section_third_image_item>p {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.6;
    text-align: center;

}

.section_third_image_item:nth-of-type(3) {
    top: 108px;
    left: 69px;
}

.section_third_image_item:nth-of-type(2) {
    top: 304px;
    right: 0px;
}

.section_third_image_item:nth-of-type(4) {
    top: 27px;
    right: 271px;
}

.testimonals_section {
    max-width: 1440px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    padding-top: 110px;
}

.testimonals_section_background {
    width: 100%;
    height: 692px;
    position: absolute;
    top: 0;
    left: 0;
}

.testimonals_section_background>img {
    width: 100%;
    height: 100%;
}

.testimonals_section_main {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
}

.testimonals_section_main>button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--colorRed);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.testimonals_section_main_text {
    width: 100%;
    max-width: 985px;
}

.testimonals_section_main_text>p {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    color: var(--colorRed);
    font-family: var(--fontSyne);
    text-align: center;
}

.testimonals_section_main_text>h1 {
    margin-top: 40px;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    text-align: center;
}

.testimonals_section_main_text_profile {
    margin-top: 40px;
    width: 100%;
    max-width: 222px;
    margin: auto;
}

.testimonals_section_main_text_profile_image {
    margin: auto;
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 50%;
}

.testimonals_section_main_text_profile_image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(2);
    object-position: 0 10px;
}

.testimonals_section_main_text_profile>h4 {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.6;
}

.section_step {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    margin-top: 200px;
    position: relative;
}

.section_step_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section_step_image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section_step>p {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    text-align: center;
}

.section_step>h1 {
    margin-top: 16px;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    text-align: center;
    margin-bottom: 100px;
}

.section_step_item {
    width: 100%;
    max-width: 876px;
    display: flex;
    margin: auto;
}

.section_step_item:nth-of-type(odd) {
    justify-content: flex-end;
}

.section_step_item:nth-of-type(even) {
    justify-content: flex-start;
}

.section_step_item_box {
    width: 100%;
    max-width: 378px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.section_step_item:nth-of-type(odd)>.section_step_item_box>.section_step_item_box_text {
    order: 2;
}

.section_step_item:nth-of-type(even)>.section_step_item_box>.section_step_item_box_text {
    order: 1;
    text-align: right;
}

.section_step_item:nth-of-type(odd)>.section_step_item_box>.section_step_item_box_icon {
    order: 1;
}

.section_step_item:nth-of-type(even)>.section_step_item_box>.section_step_item_box_icon {
    order: 2;
}

.section_step_item:first-of-type {
    margin-top: 100px;
}

.section_step_item:last-of-type {
    margin-bottom: 100px;
}

.section_step_item_box_text {
    padding: 8.5px 0;
}

.section_step_item_box_text>h1 {
    line-height: 28.8px;
    font-size: 24px;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    font-weight: 700;
}

.section_step_item_box_text>p {
    margin-top: 32px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    opacity: 0.6;
}

.section_step_item_box_icon {
    min-width: 150px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--colorWhite);
    background-image: linear-gradient (rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0.2));
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.section_step_item:nth-of-type(3)>.section_step_item_box>.section_step_item_box_icon {
    background-color: #fd3b3b;
}

.section_banner {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 80px 193px 80px 0;
}

.section_banner_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section_banner_image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: 70% 0;
}

.section_banner_title {
    width: 100%;
    max-width: 418px;
}

.section_banner_title>h1 {
    font-size: 56px;
    line-height: 67.2px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorWhite);
}

.section_banner_title>p {
    margin-top: 32px;
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorWhite);
}

.section_banner_title_buttons {
    width: 100%;
    max-width: 354px;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    gap: 16px;
}

.section_banner_title_buttons_item {
    width: 100%;
    max-width: 169px;
    cursor: pointer;
    transition: all 0.3s;
}

.section_banner_title_buttons_item:hover {
    transform: scale(1.05)
}

footer {
    width: 100%;
    max-width: 1340px;
    margin: auto;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    
}

.footer_sub {
    width: 100%;
    max-width: 552px;
}

.footer_sub>h1 {
    font-size: 56px;
    line-height: 67.2px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
}

.footer_sub>p {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: rgba(34, 34, 34, 0.6);
    margin-top: 16px;
}

.footer_sub>form {
    margin-top: 56px;
    display: flex;
    border: 1px solid var(--colorBlack);
    padding: 20px 32px;
    border-radius: 50px;
    justify-content: space-between;
}

.footer_sub>form>input {
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-family: var(--fontSyne);
    width: 100%;
    max-width: 240px;
}

.footer_sub>form>input::placeholder {
    color: rgba(34, 34, 34, 0.6);
}

.footer_sub>form>button {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    max-width: 32px;
}

.footer_nav {
    width: 100%;
    max-width: 583px;
}

.footer_nav>p {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
    margin-top: 56px;
}

.footer_nav_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer_nav_box_item>h1 {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 700;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
}

.footer_nav_box_item>a:first-of-type {
    margin-top: 19px;
}

.footer_nav_box_item>a {
    width: 100%;
    margin-top: 12px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: var(--fontSyne);
    color: var(--colorBlack);
}

.footer_nav_box_item>a:hover {
    color: rgba(34, 34, 34, 0.6);
}

.topBtn {
    width: 36px;
    height: 36px;
    background-color: #fd3b3b;
    border-radius: 50%;
    position: sticky;
    bottom: 56px;
    left: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1340px) {
    .container {
        padding: 0 15px;
    }
    .section_third{
        flex-direction: column;
        align-items: center;

    }

.section_third_text > h1{
    text-align: center;
    
}
.section_third_text >p {
    margin: auto;
    margin-top: 83px;
    max-width: 400px;
    text-align: center;
}
.section_third_image_box > img{
    object-fit: cover;

}
.section_third_image_item{
    position: static;
    max-width: 100%;
    margin-top: 12px;
    padding: 20px;
    padding-left: 40px;
}
.section_third_image_item::after{
    content: none;
}
.testimonals_section_background{
    object-fit: cover;

}
.testimonals_section_main{
    padding: 0 15px;
}
}
@media screen and (max-width:1130px){
    .section_hero_image{

        background-image: linear-gradient
        (rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.2));
          filter:contrast(50%);
    }
    .section_hero_center{
        display: none;
    }
    .section_hero{
        justify-content: center;
        text-align: center;
        flex-direction: column;
        margin-top: 20px;
        padding-bottom: 20px;
        padding: 0 15px;
    }
   
   
   .section_hero_left{
    max-width: 414px;
margin: auto;   
}
.section_hero_left > p{
    max-width: 360px;
    margin: auto;
    margin-top: 36px;
    color: var(--colorWhite);
    opacity: 1;
text-shadow:  2px 2px 3px rgba(0, 0, 0, 0.8);
}
.section_hero_left > button{
    margin-top: 36px;

}
.section_hero_left > h1{
    color: var(--colorWhite);
    opacity: 1;
    text-shadow:  2px 2px 3px rgba(0, 0, 0, 0.8);
}
.section_hero_left_social{
    margin: auto;
    margin-top: 30px;
}
.section_hero_right{
    display: grid;
    grid-template-columns: 
    "img category"
    "h3 category"
    "p a"; 
    justify-items: center;
max-width: 720px;
margin: auto;
margin-top: 30px;
gap: 30px;
}

.section_hero_right_img{
    grid-area: img;
justify-content: center;
}
.section_hero_right_img > img{
    object-fit: cover;
    object-position: 50% 50%;
}
.section_hero_right > h3{
    grid-area: h3;
    margin-top: 0;
color: var(--colorWhite);
opacity: 1;
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8)
}
.section_hero_right > p{
    max-width: 230px;
    grid-area: p;
    margin: auto;
    margin-top: 0;
    color: var(--colorWhite);
    opacity: 1;
}
.section_hero_right_category{
    grid-area: category;
    margin-top: 0;
}
.section_hero_right > a {
    grid-area: a;
    margin-top: 0;
}
.section_hero_left_social{
    max-width: 172px;

}
.section_hero_left_social > span{
    width: 34px;
    height: 34px;
}
.section_hero_left_social > span > svg{
    width: 34px;
    height: 34px;
}
.section_hero_right_category > button{
    color: var(--colorWhite);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    border-color: var(--colorWhite);


}
.section_hero_right > a{
color: var(--colorWhite);
text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);

}
.section_partner{
    overflow-X: auto;
    gap: 15px;
}
.footer_nav_box{
    justify-content: flex-start;
}

}
@media screen and (max-width:1000px){
    .section_carCollection_row{
        row-gap: 28px;
        column-gap: 24px;
        grid-template-columns:repeat(2, 1fr);
    }
.section_carCollection_row_col{
    max-width: 100%;

}
.testimonals_section_main_text > h1{
    font-size: 38px;

}

}
@media screen and (max-width:900px){
   
} 
@media screen and (max-width:835px) {
    header{
        padding-top: 30px;
    }
 .header_nav{
    display: none;
 }
 .testimonals_section_main_text >h1{
    font-size: 32px;
    line-height: 47.2px;
 }
}
@media screen and (max-width:700px){
    .section_hero_image{
        overflow:hidden;
    }
 .section_hero_image > img{
transform: scale(1.5);
object-position: 30% 50%; 


}
.section_third_image_box{
    height: 300px;
}
.testimonals_section_main_text > h1{
    font-size: 28px;
    line-height: 42px;

}
.testimonals_section_main_text>p{
    font-size: 18px;

}
.testimonals_section_main > button{
    min-width:30px;
 height: 30px;
}
.testimonals_section_main>button>svg{
    width: 19px;

}
.testimonals_section{
    padding-top: 55px;
    padding-bottom: 25px;


}
.testimonals_section_background{
    height: 100%;
}
.section_banner{
    padding: 80px 15px;
    justify-content: flex-start;

}
footer{
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}
}
@media screen and (max-width:518px){
.section_hero_left > h1{
    font-size: 46px;
    line-height: 63.2px;
}
.section_hero_right{
    display: flex;
flex-direction: column;
}
.section_hero_right_category{
    max-width: 100%;
margin: auto;
justify-content: center;


}
.section_hero_right > a{
    text-align: center;
margin: auto;


}
.section_carCollection_row{
    row-gap: 28px;
    column-gap: 24px;
 grid-template-columns:1fr;
}
.section_hero_right >a > span >svg > path{
    fill: #fff;
}
.section_carCollection_pagination{
    gap: 12px;

}
.testimonals_section_main_text > h1{
    font-size: 20px;
line-height: 32px;

}

}
@media screen and (max-width:435px){
    header{
        padding-top: 20px;
    }
    
    .header_btn > button{
    padding: 5.5px 16px;
    font-size: 14px;
    }
    .header_btn > a{
        font-size: 14px;
    }
    .hader_logo{
        max-width: 110px;
    }
    .section_step_item{
        justify-content: center !important;
        text-align: center !important;
    }
    .section_step_item_box{
        max-width: 220px;
        margin: auto;

    }
    .section_step_item_box_text{
        text-align: center !important;
    }
.section_step_item_box_text >p{
    max-width: 100%;


}
.section_step_item:nth-of-type(odd) >.section_step_item_box{
    flex-direction: column !important;
}
.section_step_item:nth-of-type(even) >.section_step_item_box{
    flex-direction: column-reverse !important;
    
}
.section_step_item:nth-of-type(even){
    padding-right: 0 !important;

}
.section_step > h1{
    font-size: 48px;
    line-height: 62px;
}
.section_banner{
    padding: 40px 12px;

}
.section_banner_title>h1{
    font-size: 34px;
line-height: 62px;

}
.section_banner_title >p{
    font-size: 18px;
    line-height: 28px;

}
.section_banner_title_buttons{
    flex-direction: column;

}
    }
 @media screen and (max-width:380px){
    header{
        padding-top: 10px;

    }
    .header_btn > button{
        padding: 2.5px 8px;
        font-size: 14px;
        max-width: 95px;
        }
        .header_btn > a{
            font-size: 14px;
        }
        .hader_logo{
            max-width: 80px;
        }
        .header_btn{
            max-width: 177px;
        }
        .section_carCollection > h1{
            font-size: 46px;
            line-height: 63.2px;
            
        }
        .section_step > h1{
            font-size: 42px;
            line-height: 56px;
        }
        .footer_sub>h1{
            font-size: 42px;
            line-height:64px;

        }
        .section_hero_left >h1{
            font-size: 36px;
            line-height: 40px;


        }
        .section_hero{
            padding-top: 56px;
        }
 }


 /* 
 GIT - Version Control (Versiyalar boshqaruvi)
 GITHUB - Globalniy project cloud
 NETLIFY-

 
 
 
 */